*, ::before, ::after {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 239, 239);
    font-family: 'Times New Roman', Times, serif;
}

/* body */

/* text */
.home {
    color: white;
    font-size: 1rem;
    text-shadow: 0px 0px 5px black;
}
.prepa-text,
.ingre-text {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.title,
.intro {
    text-align: center;

}
.title {
    font-size: 3rem;
    padding: 50px;
}
.intro {
    font-size: 1.1rem;
    padding: 20px;
}

.prepa-list,
.ingre-list {
    position:relative;
    padding: 40px;
    font-size: 1.1rem;
}


/* img*/

.home-img {
    width: 900px;
    display: block;
    margin: auto;
}


.prepa-img {
    width: 700px;
    float: left; 
    padding: 90px 50px;
}


/* footer */

#last-text,
#last-button {
    color: white;
    font-size: 1.3rem;
    position: absolute;
    
}

#last-text {
    text-shadow: 0px 0px 5px black;
    left: 46%;
    padding: 5% 0% 10%;
}

#last-button {
    background-color: black;
    left: 43%;
    padding: 6px 70px;
}